body {
    font-family:sans-serif;
    margin:0;
}

input {
    padding:4px;
    font-size:16px;
    font-weight:bold;
}
textarea {
    padding:4px;
    font-family:arial;
    font-size:16px;
}

a {
    color:blue;
}

/** Structure **/

.wrapper {
    width:900px;
    border:solid #ccc;
    border-width:0 1px;
    margin:0 auto;
    background-color:#e6e6e6;
    box-shadow: 0px 0px 30px #ccc;
}

.header {
    padding:10px;
    color:#777;
    background-color:#ddd;
    border-bottom:10px solid #eee;
}

.footer {
    padding:40px 0;
    font-size:0.8em;
    text-align:center;
    clear:both;
    background-color:#ddd;
    border-top:10px solid #eee;
}

.posts {
    margin-right:320px;
    background-color:#fff;
    padding:10px;
}

.posts img {
    max-width:100%;
}

.posts .tag {
    background-color: #ddd;
    border: 1px solid #bbb;
    border-radius: 3px;
    display: inline-block;
    font-size: 80%;
    margin-bottom: 4px;
    margin-right:4px;
    padding: 2px 4px;
    color:#333;
    text-decoration:none;
}

.posts .tag:hover {
    background-color: #eee;
}

.sidebar {
    width:300px;
    float:right;
    padding:10px;
}

.actions a {
    display:block;
}

/** General Element Styling **/
.action_button {
    background-color:#4A6EB8;
    color:#CBD7F0;
    text-decoration:none;
    padding:7px 10px;
    display:inline-block;
    border-radius:6px;
    margin:4px 0 2px 0;
    font-size:0.8em;
    border:1px solid #fff;
}
.action_button:hover {
    background-color:#7595D6;
    color:#fff;
}

.btn_red {
    background-color:#AD1017;
}
.btn_red:hover {
    background-color:#D44452;
}

.btn_green {
    background-color:#64CD78;
}
.btn_green:hover {
    background-color:#64CD78;
}

.date {
    background-color:#eee;
    padding:10px;
    font-size:0.8em;
}