# =========================
# Ignore Data
# =========================

/docs
/phpdocs
templates_c/

*.log

# =========================
# Custom modules/templates
# =========================

modules/addon/*
templates/addon/*
