<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
    ErrorDocument 403 /accessdenied
    ErrorDocument 404 /notfound
    RewriteRule    ^$ app/public/    [L]
    RewriteRule    (.*) app/public/$1 [L]
</IfModule>