#blog .page-header { padding-top: 30px; padding-bottom: 10px; background-color: #f5f5f5; }
#blog .page-header h1 { margin-bottom: 0; }
#blog .page-header h2 { margin-top: 0; color: #555; }

#blog .page-footer { background-color: #f5f5f5; padding: 30px; }

.posts img { max-width:100%; }
.posts .ui.grid { margin: 0; }
.posts .image-column { background-position: center; background-size: cover; }