/* Clear for fixed top header */
#header-clear {
	height:42px;
}

/* Main Menu */
header#global-header {
    font-family:arial,sans-serif;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	border-bottom:1px solid #999;
	background-color:#ffffff !important;
    background-image:none;
	z-index:2;
	box-shadow:0 0 5px #999;
	min-width:800px;
    padding:0;
}
header#global-header > nav {
	float:right;
	margin:8px 10px;
}
header#global-header > nav > a {
	display:inline-block;
	padding:5px 10px;
	color:#444;
	text-decoration:none;
	font-size:12px;
	line-height:16px;
}
header#global-header > nav > a:hover {
	text-decoration:underline;
}

header#global-header #current-user {
	float:right;
	font-weight:bold;
	font-size:12px;
	display:inline-block;
	margin:7px 9px;
    padding:6px;
    color:#222;
    background-color:#eee;
    border-radius:5px;
}

header#global-header #current-user a {
    background-color:#d9d9d9;
    border-radius:5px;
    color:#444;
    text-decoration:none;
    padding:3px 6px;
    margin-right:4px;
}
header#global-header #current-user a:last-child {
    margin-right:0px;
}
header#global-header #current-user a:hover {
    background-color:#1B94E0;
    color:#fff;
}
