.rbrtf-editor {
	border:1px solid #ccc;
	margin-bottom:10px;
}
.rbrtf-editor .rbrtf-document-controls {
	padding:5px;
	background-color:#eee;
	height:30px;
}
.rbrtf-editor .rbrtf-document-controls button {
	line-height:22px;
	vertical-align:middle;
}
.rbrtf-editor .rbrtf-rtfinput {
	border-top:1px solid #ccc;
	padding:5px;
	min-height:200px;
	max-height:380px;
	overflow:auto;
}

.rbrtf-wikiinput {
	padding:5px;
	min-height:200px;
	max-height:380px;
	overflow:auto;
	resize:none;
	border-radius:0px;
	border-width: 0px;
	border-top:1px solid #ccc;
	width:100%;
	box-sizing: border-box;
	display:none;
}